<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p>本模板基于LayUI实现 ,支持所有LayUI组件.的auth管理后台</p>
								
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend></legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>版本号:# v0.01 2016-11-20</legend>
						<div class="layui-field-box">
							<p>1、基本布局 tab + iframe</p>
							<p>2、动态添加，删除tab</p>
							<p>3、表格样式</p>
							<p>4、分页组件</p>
						</div>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</body>

</html>